p{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

section{
    background-image: url(Praying.jpeg);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
} 